<% makeDialog() %>
<% style('chimera/mediafield') %>

<%
if (record.title) {
	title = record.title.encodeHTML();
} else {
	title = '';
}

if (record.alt) {
	alt = record.alt.encodeHTML();
} else {
	alt = '';
}

if (!prefixes) {
	prefixes = ['__'];
}

%>

<div class="chimera-image-edit">
	<div class="form-horizontal">

		<div class="form-group container-fluid">
			<div class="row">
				<div class="col-sm-12 chimeraField-left control-label">
					<h2><%= record.name %></h2>
				</div>
			</div>
		</div>

		{% with prefixes as prefix %}
			{% each %}
				<% language = ''; %>
				<% value_title = record.title %>
				<% value_alt = record.alt %>
				<% element_id = '' %>
				<% field_extension = '' %>

				<% if (prefix != '__') { %>
					<h3 class="language-title">{%= prefix.title %}</h3>
					<% language = prefix.locale %>
					<% element_id = '_' + language %>
					<% field_extension = '.' + language %>

					<% if (value_title) value_title = value_title[language] %>
					<% if (value_alt) value_alt = value_alt[language] %>
				<% } %>

				<%
					if (value_title) {
						value_title = value_title.encodeHTML();
					} else {
						value_title = '';
					}
				%>

				<%
					if (value_alt) {
						value_alt = value_alt.encodeHTML();
					} else {
						value_alt = '';
					}
				%>



				<div class="form-group container-fluid">
					<div class="row">
						<div class="col-sm-12 chimeraField-left control-label">
							<label class="chimeraField-label" for="image-title-text{% element_id %}">
								<%= __('title') %>
							</label>
						</div>
					</div>
					<div class="row">
						<input
							id="image-title-text{% element_id %}"
							class="chimeraField-prime chimeraField-string form-control media-edit-field"
							value="<%= value_title %>"
							type="text"
							data-field="title{% field_extension %}"
						>
					</div>
				</div>

				<div class="form-group container-fluid">
					<div class="row">
						<div class="col-sm-12 chimeraField-left control-label">
							<label class="chimeraField-label" for="image-alt-text{% element_id %}">
								<%= __('Alternate text') %>
							</label>
						</div>
					</div>
					<div class="row">
						<input
							id="image-alt-text{% element_id %}"
							class="chimeraField-prime chimeraField-string form-control media-edit-field"
							value="<%= value_alt %>"
							type="text"
							data-field="alt{% field_extension %}"
						>
					</div>
				</div>

				<% if (prefix != '__') { %>
					<br>
					<br>
				<% } %>
			{% /each %}
		{% /with %}
	</div>

	<a class="action-save-image btn btn-default btn-success"
		title="save"
		role="button"
		style="color:white;"
	>Save</a>

</div>